footer {
	display: block;
	margin: 30px 0 30px 0;
}

fieldset {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 20px 0 0px 0;
}

legend {
	font-size: 16px;
	border-bottom: none;
	padding: 0 10px 0 10px;
	margin-bottom: 5px;
}

th, td {
	border: 1px solid #ddd;
	padding: 5px;
	font-size: 12px;
}

label.error {
	color: #f00;
}

#teaserfset {
	display: none;
}

#finalurl {
	color: #c00;	
}

.shorty {
	color: #090;	
}

.socialshare {
	color: #090;	
}

#teaserfset {
	display: none;	
}

.show {
	display: block;	
}

.hide {
	display: none;	
}

button.btn {
	margin: 10px 0 10px 0;
}

p.soft {
	color: #bbb;
	margin: 2px 0 7px 0;
	padding: 0;
}

.navbar {
	margin-bottom: 5px;
}